%h2 Traktor's Autogain is much too loud
%h1 We can fix it!

%form{:action => "/upload", :method => "POST", :enctype => "multipart/form-data"}
  %fieldset
    %label{:for => "playlist"} Upload a Traktor Playlist or Collection
    %input{:type => "file", :name => "playlist"}
  %fieldset
    %label{:for => "gain"} Adjust the gain by....
    %select{:name => "gain"}
      %option{:value => 6}                            6db
      %option{:value => 3}                            3db
      %option{:value => -3, :selected => "selected"}  -3db
      %option{:value => -6}                           -6db

  %fieldset
    %input{:type => "submit", :value => "And we'll convert it"}

